<div class='jobRow'>
  <span>
    {{@title}}
  </span>
  <span>
    {{@department}}
  </span>
  <span>
    {{@experience}}
  </span>
  <span>
    {{@location}}
  </span>
  <span>
    {{@jobType}}
  </span>
  <LinkTo @route='job-desc' @query={{hash id=@id}} class='menu-home'>
    View More
  </LinkTo>
</div>

<div class='jobCard'>
  <h5>{{@title}}</h5>
  <label>
    {{@department}}
    |
    {{@experience}}
    years of experience |
    {{@location}}
    |
    {{@jobType}}
  </label>
  <LinkTo @route='job-desc' @query={{hash id=@id}} class='menu-home'>
    View More
  </LinkTo>
</div>