<nav class='menu items-center text-white {{this.extraClass}}' {{on-window-scroll this.onScroll}}>
  <LinkTo @route='index' class='menu-index'>
    <div class='logo-holder' type='div'>
      <img src='/assets/images/primathon-logo.png' alt='Primathon' title='Primathon' />
    </div>
    {{!-- <div
      class="logo-holder {{unless this.activePrimathon 'olympic'}}"
      type="div"
      {{timer-callback this.onLogoClick 2000}}
    >
      <img
        src="assets/images/primathon_icon_final.png"
        alt="Primathon"
        class={{if this.activePrimathon 'visible' 'hidden'}}
      />
      <img
        src="assets/images/logo-olympic.png"
        alt="Primathon"
        class={{unless this.activePrimathon 'visible' 'hidden'}}
      />
    </div> --}}
    {{! <div>
      <h2>
        Primathon
      </h2>
      <p class='inspired'>
        Above & Beyond
      </p>
    </div> }}
  </LinkTo>
  <input class='hamburger-btn' type='checkbox' id='hamburger-btn' />
  <label class='hamburger-icon' for='hamburger-btn'>
    <span class='ham-icon'></span>
  </label>
  <div class='nav-items'>
    <div class='links'>
      <LinkTo @route='index' class='menu-home' {{on 'click' this.closeOpenMenu}}>
        Home
      </LinkTo>
      
      <div class='service-page-dialog'>
        <LinkTo @route='services.end-to-end-products' class='menu-service desktop-menu-link'>
          Our Services
        </LinkTo>
        <Services::PageOptions class='service-page-dialog-box' />
      </div>
      <p class='menu-service mobile-menu-link' id='our-services' {{on 'click' (fn this.onMenuOpen 'services')}}>
        <span>Our Services</span>
        {{#if this.openMenu}}
          <img
            class='up-down-icon'
            src='/assets/images/arrow-up.svg'
            height='10px'
            width='10px'
            alt='button icon'
            title='button icon'
          />
        {{else}}
          <img
            class='up-down-icon'
            src='/assets/images/arrow-down.svg'
            height='10px'
            width='10px'
            alt='button icon'
            title='button icon'
          />
        {{/if}}
      </p>
      <div class='services-menu {{if this.openMenu "services-menu-open"}} '>
        <LinkTo
          @route='services.end-to-end-products'
          class='mobile-menu'
          @activeClass='current-url'
          {{on 'click' (fn this.closeOpenMenu 'services')}}
        >
          End-to-End Products
        </LinkTo>
        <LinkTo
          @route='services.staff-augmentation'
          class='mobile-menu'
          @activeClass='current-url'
          {{on 'click' (fn this.closeOpenMenu 'services')}}
        >
          Staff Augmentation
        </LinkTo>
        <LinkTo
          @route='services.build-and-manage'
          class='mobile-menu'
          @activeClass='current-url'
          {{on 'click' (fn this.closeOpenMenu 'services')}}
        >
          Build and Manage
        </LinkTo>
      </div>
      <div class='service-page-dialog'>
        <LinkTo @route='technologies.node-js' class='menu-service desktop-menu-link'>
          Technologies
        </LinkTo>
        <Technologies::PageOptions class='service-page-dialog-box' />
      </div>
      <p class='menu-service mobile-menu-link' id='our-services' {{on 'click' (fn this.onMenuOpen 'technologies')}}>
        <span>Technologies</span>
        {{#if this.openTechnologiesMenu}}
          <img
            class='up-down-icon'
            src='/assets/images/arrow-up.svg'
            height='10px'
            width='10px'
            alt='button icon'
            title='button icon'
          />
        {{else}}
          <img
            class='up-down-icon'
            src='/assets/images/arrow-down.svg'
            height='10px'
            width='10px'
            alt='button icon'
            title='button icon'
          />
        {{/if}}
      </p>
      <div class='services-menu {{if this.openTechnologiesMenu "services-menu-open"}} '>
        <LinkTo
          @route='technologies.node-js'
          class='mobile-menu'
          @activeClass='current-url'
          {{on 'click' (fn this.closeOpenMenu 'technologies')}}
        >
          Node Js
        </LinkTo>
        <LinkTo
          @route='technologies.react-js'
          class='mobile-menu'
          @activeClass='current-url'
          {{on 'click' (fn this.closeOpenMenu 'technologies')}}
        >
          React Js
        </LinkTo>
        <LinkTo
          @route='technologies.react-native'
          class='mobile-menu'
          @activeClass='current-url'
          {{on 'click' (fn this.closeOpenMenu 'technologies')}}
        >
          React Native
        </LinkTo>
        <LinkTo
          @route='technologies.angular-js'
          class='mobile-menu'
          @activeClass='current-url'
          {{on 'click' (fn this.closeOpenMenu 'technologies')}}
        >
          Angular Js
        </LinkTo>
        <LinkTo
          @route='technologies.javascript'
          class='mobile-menu'
          @activeClass='current-url'
          {{on 'click' (fn this.closeOpenMenu 'technologies')}}
        >
          Javascript
        </LinkTo>
        <LinkTo
          @route='technologies.android'
          class='mobile-menu'
          @activeClass='current-url'
          {{on 'click' (fn this.closeOpenMenu 'technologies')}}
        >
          Android
        </LinkTo>
        <LinkTo
          @route='technologies.python'
          class='mobile-menu'
          @activeClass='current-url'
          {{on 'click' (fn this.closeOpenMenu 'technologies')}}
        >
          Python
        </LinkTo>
        <LinkTo
          @route='technologies.ios'
          class='mobile-menu'
          @activeClass='current-url'
          {{on 'click' (fn this.closeOpenMenu 'technologies')}}
        >
          iOS
        </LinkTo>
        <LinkTo
          @route='technologies.vue'
          class='mobile-menu'
          @activeClass='current-url'
          {{on 'click' (fn this.closeOpenMenu 'technologies')}}
        >
          Vue
        </LinkTo>
        <LinkTo
          @route='technologies.swift'
          class='mobile-menu'
          @activeClass='current-url'
          {{on 'click' (fn this.closeOpenMenu 'technologies')}}
        >
          Swift
        </LinkTo>
      </div>
      <LinkTo
        @route='case-studies'
        class='menu-case-studies'
        @activeClass='current-url'
        {{on 'click' (fn this.closeOpenMenu 'case-studies')}}
      >
        Case studies
      </LinkTo>
      <a href='/blog' class='menu-blog' {{on 'click' (fn this.closeOpenMenu 'blog')}}>
        Blog
      </a>
      <LinkTo
        @route='about-us'
        class='menu-about'
        @activeClass='current-url'
        {{on 'click' (fn this.closeOpenMenu 'about')}}
      >
        About Us
      </LinkTo>
      <LinkTo
        @route='contact'
        class='menu-contact'
        @activeClass='current-url'
        {{on 'click' (fn this.closeOpenMenu 'contact')}}
      >
        Contact
      </LinkTo>
    </div>
    <LinkTo @route='contact' class='menu-primary' {{on 'click' (fn (or this.onHireUs (noop)))}}>
      GET IN TOUCH
    </LinkTo>
  </div>
</nav>