<section class='app-container linear-list-section'>
  <div class='linear-list-container'>
    <h1>
      {{@content.heading}}
    </h1>
    <ul class='linear-list__list'>
      <li class='linear-list__item'>
        <span class='red circle'></span>
        <hr />
        <span class="text"> {{get @content.items 0}}</span>
        <div></div>
      </li>
      <li class='linear-list__item'>
        <div></div>
        <span class="text"> {{get @content.items 1}}</span>
        <hr />
        <span class='blue circle'></span>
      </li>
      <li class='linear-list__item'>
        <span class='yellow circle'></span>
        <hr />
        <span class="text"> {{get @content.items 2}}</span>
        <div></div>
      </li>
      <li class='linear-list__item'>
        <div></div>
        <span class="text"> {{get @content.items 3}}</span>
        <hr />

        <span class='green circle'></span>
      </li>
    </ul>
  </div>
</section>