<section
  class='max-w-[1400px] px-6 py-10 sm:p-10 md:p-20 mx-auto flex items-center justify-between gap-x-6 flex-col-reverse md:flex-row md:mt-28 mt-10 '
>
  <div class='md:max-w-[450px] lg:max-w-[750px] mt-20 md:mt-0'>
    <h2 class='text-2xl font-bold max-w-[750px] '>{{@data.title}}</h2>
    {{#if @data.subtitle}}
      <p class='text-lg font-medium text-[#198cca] mt-2 text-center md:text-left'>{{@data.subtitle}}</p>
    {{/if}}
    <div class="flex md:flex-col flex-col-reverse">
      {{#if @data.description}}
        <p class='text-gray-500 mb-20 md:mb-2 md:mt-0 mt-8  text-justify'>{{@data.description}}</p>
      {{/if}}
      <div>
        <ul class='bullet-list-ul mt-6'>
          {{#each @data.listItems as |item|}}
            <li key={{item.id}}>
              <p> {{item.text}}</p>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div>
    <img
      src={{@data.imageSrc}}
      class='{{if @imgStyle @imgStyle "w-[350px] h-[350px]"}}'
      alt={{@data.alt}}
      title={{@data.alt}}
    />
  </div>
</section>