<Header />
<div class='app-container'>
  <Ai-development::Hero-section class="react-native-heroSectionContainer" @heroSection={{@data.ReactNativeData.heroSection}} />
  <Chatgpt::Getting-started @gettingStarted={{@data.ReactNativeData.tailoredReactNativeSolution}} />
  <Ai-development::Introduction @intro={{@data.ReactNativeData.unleashExcellenceWithPrimathon}} @imgStyle='w-[500px] h-[400px]'/>
  <Chatgpt::Benefits @benefits={{@data.ReactNativeData.whyChoose}}/>
  <Ai-development::Introduction @intro={{@data.ReactNativeData.approachToReactNativeDevelopment}} @imgStyle='w-[500px] h-[480px]'/>
  <Technologies::CtaSection @ctaSection={{@data.ReactNativeData.elevateYourWebDevelopment}} />
  <Homepage::Testimonial
    @title={{@data.testinomialData.title}}
    @description={{@data.testinomialData.description}}
    @data={{@data.testinomialData.data}}
  />
  <Chatgpt::Getting-started @gettingStarted={{@data.ReactNativeData.advantageOfReactNativeDevelopment}} />
  <Technologies::CtaSection @ctaSection={{@data.ReactNativeData.startYourReactNativeProject}} />
  <Ai-development::Introduction @intro={{@data.ReactNativeData.driveInnovation}} @imgStyle='w-[500px] h-[400px]'/>
  <Homepage::Footer />
</div>