<div class='service-page-options' ...attributes {{on 'mouseleave' this.onMouseLeave}}>
  <div class='image'>
    <img src='/assets/images/arrow-up.svg' alt='arrow-up' title='button icon' />
  </div>
  <ul>
    {{! template-lint-disable no-invalid-interactive }}
    <li class='end-to-end-tool-tip' {{on 'mouseover' (fn this.changeContent this.endToEndRoute)}}>
      <LinkTo
        class='service-page-link {{if (eq this.activeRoute this.endToEndRoute) "active-service"}}'
        @route={{this.endToEndRoute}}
      >
        End-to-End Products
      </LinkTo>
    </li>
    {{! template-lint-disable no-invalid-interactive }}
    <li class='staff-augmentation-tool-tip' {{on 'mouseover' (fn this.changeContent this.staffAugmentation)}}>
      <LinkTo
        class='service-page-link {{if (eq this.activeRoute this.staffAugmentation) "active-service"}}'
        @route={{this.staffAugmentation}}
      >
        Staff Augmentation
      </LinkTo>
    </li>
    {{! template-lint-disable no-invalid-interactive }}
    <li {{on 'mouseover' (fn this.changeContent this.buildAndManage)}}>
      <LinkTo
        class='service-page-link {{if (eq this.activeRoute this.buildAndManage) "active-service"}}'
        @route={{this.buildAndManage}}
      >
        Build and Manage
      </LinkTo>
    </li>
  </ul>
  <div class='grid end-to-end'>
    {{#if (eq this.hoverRoute this.endToEndRoute)}}
      <p>
        <LinkTo class='services-link' @route='services.end-to-end-products.booking-platforms'>
          Booking Platforms
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.end-to-end-products.shopify-stores'>Shopify Stores
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.end-to-end-products.dashboard-and-data-visualization'>
          Dashboard and Data Visualization
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.end-to-end-products.admin-panels-and-cms'>
          Admin Panels and CMS
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.end-to-end-products.web-and-mobile-app-development'>
          Web and Mobile App Development
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.end-to-end-products.ai-ml-based-recommendation-engines'>
          AI/ML based Recommendation Engines
        </LinkTo>
      </p>
      <p class='page-options-extra-para'>
        <LinkTo class='services-link' @route='services.end-to-end-products.erc20-token'>
          ERC20 Token
        </LinkTo>
      </p>
      <p class='page-options-extra-para'>
        <LinkTo class='services-link' @route='services.end-to-end-products.smart-contract'>
          Smart Contract
        </LinkTo>
      </p>
      <p class='page-options-extra-para'>
        <LinkTo class='services-link' @route='ember-js-development-services'>
          EmberJs Services
        </LinkTo>
      </p>
      <p class='page-options-extra-para'>
        <LinkTo class='services-link' @route='services.end-to-end-products.chatgpt'>
          ChatGPT Services
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.end-to-end-products.ai-chatbot'>
          AI Conversational Chatbot
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.end-to-end-products.ai-discovery'>
          AI Discovery
        </LinkTo>
      </p>
    {{else if (eq this.hoverRoute this.staffAugmentation)}}
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.hire-frontend-developers'>
          Frontend Developers
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.product-managers'>
          Product managers
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.hire-backend-developers'>
          Backend developers
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.quality-analysts'>
          Quality Analysts
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.hire-android-developers'>
          Android developers
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.hire-python-developers'>
          Python developers
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.hire-angular-developers'>
          Angular developers
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.hire-javascript-developers'>
          JavaScript developers
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.hire-react-developers'>
          React developers
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.hire-ios-developers'>
          IOS developers
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.hire-swift-developers'>
          Swift developers
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.hire-vue-developers'>
          Vue developers
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.uiux-designers'>
          UI/UX Designers
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.ai-driven-tool'>
          AI DRIVEN TOOL
        </LinkTo>
      </p>
      <p>
        <LinkTo class='services-link' @route='services.staff-augmentation.platform'>
          Platform
        </LinkTo>
      </p>
    {{else if (eq this.hoverRoute this.buildAndManage)}}
      <p>
        Get the best
        <b>
          management
        </b>
        and
        <b>
          value
        </b>
      </p>
      <p>
        <b>
          driven technology
        </b>
        aiming at digitally
      </p>
      <p class='mb-140'>
        transforming your business!
      </p>
    {{/if}}
  </div>
  <LinkTo class='link' @route={{this.hoverRoute}}>
    Explore
  </LinkTo>
</div>