<footer>
  <section class='bg-[#212121] px-6 py-12 sm:px-24 md:p-12 lg:px-24 lg:py-16' {{on-resize this.onResizeScreen}}>
    <div class='flex justify-between gap-x-6 flex-col md:flex-row'>
      <div class='flex-0.75'>
        {{! Company }}
        <p class='flex justify-between mb-1' {{on 'click' (fn this.onMenuOpen 'company')}}>
          <span class='font-semibold text-lg text-white mb-1'>Company</span>
          {{#if this.isSmallScreen}}
            {{#if this.openCompanyMenu}}
              <Common::AppImage
                class='up-down-icon'
                @src='/assets/svgs/white-arrow-up.svg'
                height='10px'
                width='10px'
                alt='button icon'
                title='button icon'
              />
            {{else}}
              <Common::AppImage
                class='up-down-icon'
                @src='/assets/svgs/white-arrow-down.svg'
                height='10px'
                width='10px'
                alt='button icon'
                title='button icon'
              />
            {{/if}}
          {{/if}}
        </p>
        {{#if (or this.openCompanyMenu (not this.isSmallScreen))}}
          <ul>
            <li>
              <LinkTo @route='about-us' class='text-sm leading-7 text-[#D9D9D9]'>
                About Us
              </LinkTo>
            </li>
            <li>
              <LinkTo @route='careers' class='text-sm leading-7 text-[#D9D9D9]'>
                Careers
              </LinkTo>
            </li>
            <li>
              <LinkTo @route='case-studies' class='text-sm leading-7 text-[#D9D9D9]'>
                Case Studies
              </LinkTo>
            </li>
            <li><a href='/blog' class='text-sm leading-7 text-[#D9D9D9]'>Blog</a></li>
          </ul>
        {{/if}}
        {{#if this.isSmallScreen}}
          <hr class='bg-[#D9D9D9] my-5 h-0.5' />
        {{/if}}
      </div>

      {{! Services }}
      <div class='flex-1'>
        <p class='flex justify-between mb-1' {{on 'click' (fn this.onMenuOpen 'services')}}><span
            class='font-semibold text-lg text-white mb-1'
          >Services</span>
          {{#if this.isSmallScreen}}
            {{#if this.openServicesMenu}}
              <Common::AppImage
                class='up-down-icon'
                @src='/assets/svgs/white-arrow-up.svg'
                height='10px'
                width='10px'
                alt='button icon'
                title='button icon'
              />
            {{else}}
              <Common::AppImage
                class='up-down-icon'
                @src='/assets/svgs/white-arrow-down.svg'
                height='10px'
                width='10px'
                alt='button icon'
                title='button icon'
              />
            {{/if}}
          {{/if}}
        </p>
        {{#if (or this.openServicesMenu (not this.isSmallScreen))}}
          <ul>
            <li>
              <LinkTo
                @route='services.end-to-end-products.web-and-mobile-app-development'
                class='text-sm leading-7 text-[#D9D9D9]'
              >
                Web and Mobile App Development
              </LinkTo>
            </li>
            {{! <li>
              <LinkTo @route='services.staff-augmentation' class='text-sm leading-7 text-[#D9D9D9]'>
                Fixed Scope Projects
              </LinkTo>
            </li> }}
            <li>
              <LinkTo @route='services.staff-augmentation' class='text-sm leading-7 text-[#D9D9D9]'>
                Staff Augmentation
              </LinkTo>
            </li>
            <li>
              <LinkTo @route='services.staff-augmentation.product-managers' class='text-sm leading-7 text-[#D9D9D9]'>
                Design and Product Management
              </LinkTo>
            </li>
          </ul>
        {{/if}}
        {{#if this.isSmallScreen}}
          <hr class='bg-[#D9D9D9] my-5 h-0.5' />
        {{/if}}
      </div>

      {{! Solutions }}
      <div class='flex-1'>
        <p class='flex justify-between mb-1' {{on 'click' (fn this.onMenuOpen 'solutions')}}>
          <span class='font-semibold text-lg text-white mb-1'>Solutions</span>
          {{#if this.isSmallScreen}}
            {{#if this.openSolutionsMenu}}
              <Common::AppImage
                class='up-down-icon'
                @src='/assets/svgs/white-arrow-up.svg'
                height='10px'
                width='10px'
                alt='button icon'
                title='button icon'
              />
            {{else}}
              <Common::AppImage
                class='up-down-icon'
                @src='/assets/svgs/white-arrow-down.svg'
                height='10px'
                width='10px'
                alt='button icon'
                title='button icon'
              />
            {{/if}}
          {{/if}}
        </p>
        {{#if (or this.openSolutionsMenu (not this.isSmallScreen))}}
          <ul>
            <li>
              <LinkTo
                @route='services.ai-hub.ai-software-development-services'
                class='text-sm leading-7 text-[#D9D9D9]'
              >
                AI Software Development Services
              </LinkTo>
            </li>
            <li>
              <LinkTo @route='services.end-to-end-products.chatgpt' class='text-sm leading-7 text-[#D9D9D9]'>
                Chatbot using ChatGPT
              </LinkTo>
            </li>
            <li>
              <LinkTo @route='services.end-to-end-products.booking-platforms' class='text-sm leading-7 text-[#D9D9D9]'>
                Booking Platform
              </LinkTo>
            </li>
            <li>
              <LinkTo
                @route='services.end-to-end-products.dashboard-and-data-visualization'
                class='text-sm leading-7 text-[#D9D9D9]'
              >
                Dashboards and Data Visualization
              </LinkTo>
            </li>
            <li>
              <LinkTo
                @route='services.end-to-end-products.admin-panels-and-cms'
                class='text-sm leading-7 text-[#D9D9D9]'
              >
                Admin Panels and CMS
              </LinkTo>
            </li>
            {{! <li>
              <LinkTo @route='services.end-to-end-products' class='text-sm leading-7 text-[#D9D9D9]'>
                Enterprise Search GPT
              </LinkTo>
            </li> }}
          </ul>
        {{/if}}
        {{#if this.isSmallScreen}}
          <hr class='bg-[#D9D9D9] my-5 h-0.5' />
        {{/if}}
      </div>

      {{! Get it touch }}
      <div class='flex-1'>
        <p class='font-semibold text-lg text-white mb-2'>Get it touch</p>
        <p class='flex gap-x-1 items-start'>
          <span class='icon-location block w-5 h-6' style='flex-shrink: 0;'></span>
          <span class='text-sm leading-7 text-[#D9D9D9]'>5th Floor, 108, Sector 44 Gurugram, 122003, India</span>
        </p>
        <p class='flex gap-x-1 items-start'>
          <span class='icon-phone block w-5 h-5'></span>
          <a href='tel: 073555 82725' class='text-sm leading-7 text-[#D9D9D9]'>073555 82725</a>
        </p>
        <p class='flex gap-x-1 items-center'>
          <span class='icon-email block w-5 h-3'></span>
          <a href='mailto: info@primathon.in' class='text-sm leading-7 text-[#D9D9D9]'>info@primathon.in</a>
        </p>
      </div>
    </div>
    <hr class='bg-[#D9D9D9] mt-12 h-0.5 hidden md:block' />

    {{! Follow Us }}
    <div class='flex justify-start md:justify-center items-center gap-x-4 mt-12'>
      <span class='font-semibold text-lg text-white'>Follow Us :</span>
      <ul class='flex justify-center gap-x-4'>
        <li>
          <a
            href='https://twitter.com/primathontech'
            target='_blank'
            rel='noopener noreferrer'
            aria-label='twitter'
            class='block w-10 h-10'
          >
            <i class='new-icon-twitter block w-10 h-10' aria-hidden='true'></i>
          </a>
        </li>
        <li>
          <a
            href='https://www.facebook.com/Primathon/'
            target='_blank'
            rel='noopener noreferrer'
            aria-label='facebook'
            class='block w-10 h-10'
          >
            <i class='new-icon-facebook block w-10 h-10' aria-hidden='true'></i>
          </a>
        </li>
        <li>
          <a
            href='https://www.instagram.com/primathon_tech/'
            target='_blank'
            rel='noopener noreferrer'
            aria-label='instagram'
            class='block w-10 h-10'
          >
            <i class='new-icon-instagram block w-10 h-10' aria-hidden='true'></i>
          </a>
        </li>
        <li>
          <a
            href='https://www.linkedin.com/company/primathon'
            target='_blank'
            rel='noopener noreferrer'
            aria-label='linkedin'
            class='block w-10 h-10'
          >
            <i class='new-icon-linkedin block w-10 h-10' aria-hidden='true'></i>
          </a>
        </li>
        <li>
          <a
            href='http://www.youtube.com/@primathontech'
            target='_blank'
            rel='noopener noreferrer'
            aria-label='youtube'
            class='block w-10 h-10'
          >
            <i class='new-icon-youtube block w-10 h-10' aria-hidden='true'></i>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <section class='bg-black px-6 sm:px-24 md:px-12 lg:px-24 py-4'>
    <div class='flex justify-between gap-x-6 gap-y-2 flex-wrap'>
      <ul class='flex justify-start gap-x-12 gap-y-2 flex-wrap'>
        <li><a href='' class='text-sm leading-7 text-[#D9D9D9]'>Disclaimer</a></li>
        <li><a href='' class='text-sm leading-7 text-[#D9D9D9]'>Terms and Conditions</a></li>
        <li>
          <LinkTo @route='privacy-policy' class='text-sm leading-7 text-[#D9D9D9]'>
            Privacy Policy
          </LinkTo>
        </li>
        <li>
          <LinkTo @route='sitemap' class='text-sm leading-7 text-[#D9D9D9]'>
            Sitemap
          </LinkTo>
        </li>
      </ul>
      <ul>
        <li class='text-sm leading-7 text-[#D9D9D9]'>©2024, Primathon. All rights reserved.</li>
      </ul>
    </div>
  </section>
</footer>