<LinkTo class='post-card' @route='case-studies.case-study' @model={{@data.url}}>
  <img src={{@data.poster}} loading='lazy' alt={{@data.title}} title={{@data.title}} />
  <div class='detail'>
    <h3>
      {{@data.title}}
    </h3>
    <p>
      {{@data.description}}
    </p>
    <div class="tags-container">
      {{#each @data.tags as |tag|}}
        <div class='post-tag'>
          {{tag}}
        </div>
      {{/each}}
    </div>
  </div>
</LinkTo>