<section class="end-to-end-services-details-section">
    <h2>{{@title}}</h2>
    <img src={{@imgUrl}} alt={{@title}}>
    <p class="sub-heading">{{{@heading}}}</p>
    <p>
        {{{@description}}}
    </p>
</section>
