<div class="container-fluid talent-map">
  <div class="container">
    <h2 class="center">
      Meet Our Global Clients
    </h2>
    <p class="section-sub center">
      Been providing our Partners and Clients with what they require before they even know
      it!
    </p>
    <div class="holder">
      <div class="talent-map-wrap v-show">
        <img src="/assets/images/talent_map.svg" alt="map" />
        <div class="talent-map-developer client-1">
          {{! template-lint-disable no-invalid-interactive }}
          <span class="dot"></span>
          <div class="logo-containter">
            <div class="logo-wrapper {{if (eq this.activeIndex 1) 'logo-wrapper-show' ''}}">
              <a href="https://www.sothebys.com/en/" target="_blank" rel="noopener noreferrer">
                <img
                  src="/assets/clients/sothebys-logo.svg"
                  loading="lazy"
                  alt="Primathon Client"
                  {{on 'mouseover' (fn this.setActiveIndex 1)}}
                  {{on 'mouseleave' this.removeActiveIndexImage}}
                />
              </a>
            </div>
          </div>
        </div>
        <div class="talent-map-developer client-2">
          {{! template-lint-disable no-invalid-interactive }}
          <span class="dot"></span>
          <div class="logo-containter">
            <div class="logo-wrapper {{if (eq this.activeIndex 2) 'logo-wrapper-show' ''}}">
              <a href="https://paxful.com/" target="_blank" rel="noopener noreferrer">
                <img
                  src="/assets/clients/paxful-logo.svg"
                  loading="lazy"
                  alt="Primathon Client"
                  {{on 'mouseover' (fn this.setActiveIndex 2)}}
                  {{on 'mouseleave' this.removeActiveIndexImage}}
                />
              </a>
            </div>
          </div>
        </div>
        <div class="talent-map-developer client-3">
          {{! template-lint-disable no-invalid-interactive }}
          <span class="dot"></span>
          <div class="logo-containter">
            <div class="logo-wrapper {{if (eq this.activeIndex 3) 'logo-wrapper-show' ''}}">
              <a href="https://staybloom.com/" target="_blank" rel="noopener noreferrer">
                <img
                  src="/assets/clients/staybloom-logo.svg"
                  loading="lazy"
                  alt="Primathon Client"
                  {{on 'mouseover' (fn this.setActiveIndex 3)}}
                  {{on 'mouseleave' this.removeActiveIndexImage}}
                />
              </a>
            </div>
          </div>
        </div>
        <div class="talent-map-developer client-4">
          {{! template-lint-disable no-invalid-interactive }}
          <span class="dot"></span>
          <div class="logo-containter">
            {{!-- <div class="logo-wrapper {{if (eq this.activeIndex 4) 'logo-wrapper-show' ''}}">
              <a href="https://www.freshworks.com/" target="_blank" rel="noopener noreferrer">
                <img
                  src="/assets/clients/freshworks-logo.svg"
                  loading="lazy"
                  alt="Primathon Client"
                  {{on 'mouseover' (fn this.setActiveIndex 4)}}
                  {{on 'mouseleave' this.removeActiveIndexImage}}
                />
              </a>
            </div> --}}
            <div class="logo-wrapper {{if (eq this.activeIndex 4) 'logo-wrapper-show' ''}}">
              <a href="https://www.freshworks.com/" target="_blank" rel="noopener noreferrer">
                <img
                  src="/assets/clients/freshworks-logo.svg"
                  loading="lazy"
                  alt="Primathon Client"
                  {{on 'mouseover' (fn this.setActiveIndex 4)}}
                  {{on 'mouseleave' this.removeActiveIndexImage}}
                />
              </a>
            </div>
          </div>
        </div>
        <div class="talent-map-developer client-5">
          {{! template-lint-disable no-invalid-interactive }}
          <span class="dot"></span>
          <div class="logo-containter">
            <div class="logo-wrapper {{if (eq this.activeIndex 5) 'logo-wrapper-show' ''}}">
              <a href="https://graphcms.com/" target="_blank" rel="noopener noreferrer">
                <img
                  src="/assets/clients/graphcms.svg"
                  loading="lazy"
                  alt="Primathon Client"
                  {{on 'mouseover' (fn this.setActiveIndex 5)}}
                  {{on 'mouseleave' this.removeActiveIndexImage}}
                />
              </a>
            </div>
          </div>
        </div>
        <div class="talent-map-developer client-6">
          {{! template-lint-disable no-invalid-interactive }}
          <span class="dot"></span>
          <div class="logo-containter">
            <div class="logo-wrapper {{if (eq this.activeIndex 6) 'logo-wrapper-show' ''}}">
              <a href="https://usercentrics.com/" target="_blank" rel="noopener noreferrer">
                <img
                  src="/assets/clients/usercentrics-logo.svg"
                  loading="lazy"
                  alt="Primathon Client"
                  {{on 'mouseover' (fn this.setActiveIndex 6)}}
                  {{on 'mouseleave' this.removeActiveIndexImage}}
                />
              </a>
            </div>
          </div>
        </div>
        <div class="talent-map-developer client-7">
          {{! template-lint-disable no-invalid-interactive }}
          <span class="dot"></span>
          <div class="logo-containter">
            <div class="logo-wrapper {{if (eq this.activeIndex 7) 'logo-wrapper-show' ''}}">
              <a href="https://www.appsmith.com/" target="_blank" rel="noopener noreferrer">
                <img
                  src="/assets/clients/appsmith-dark-logo.png"
                  loading="lazy"
                  alt="Primathon Client"
                  {{on 'mouseover' (fn this.setActiveIndex 7)}}
                  {{on 'mouseleave' this.removeActiveIndexImage}}
                />
              </a>
            </div>
          </div>
        </div>
        <div class="talent-map-developer client-8">
          {{! template-lint-disable no-invalid-interactive }}
          <span class="dot"></span>
          <div class="logo-containter">
            <div class="logo-wrapper {{if (eq this.activeIndex 8) 'logo-wrapper-show' ''}}">
              <a href="https://www.stockal.com/" target="_blank" rel="noopener noreferrer">
                <img
                  src="/assets/clients/stockal.svg"
                  loading="lazy"
                  alt="Primathon Client"
                  {{on 'mouseover' (fn this.setActiveIndex 8)}}
                  {{on 'mouseleave' this.removeActiveIndexImage}}
                />
              </a>
            </div>
          </div>
        </div>
        <div class="talent-map-developer client-9">
          {{! template-lint-disable no-invalid-interactive }}
          <span class="dot"></span>
          <div class="logo-containter">
            <div class="logo-wrapper {{if (eq this.activeIndex 9) 'logo-wrapper-show' ''}}">
              <a href="https://publaunch.com/" target="_blank" rel="noopener noreferrer">
                <img
                  src="/assets/clients/publaunch-logo.svg"
                  loading="lazy"
                  alt="Primathon Client"
                  {{on 'mouseover' (fn this.setActiveIndex 9)}}
                  {{on 'mouseleave' this.removeActiveIndexImage}}
                />
              </a>
            </div>
          </div>
        </div>
        <div class="talent-map-developer client-10">
          {{! template-lint-disable no-invalid-interactive }}
          <span class="dot"></span>
          <div class="logo-containter">
            <div class="logo-wrapper {{if (eq this.activeIndex 10) 'logo-wrapper-show' ''}}">
              <a href="https://www.coca-cola.com" target="_blank" rel="noopener noreferrer"></a>
              <img
                src="/assets/clients/cococola-logo.jpg"
                loading="lazy"
                alt="Primathon Client"
                {{on 'mouseover' (fn this.setActiveIndex 10)}}
                {{on 'mouseleave' this.removeActiveIndexImage}}
              />
              <a href="https://www.coca-cola.com" target="_blank" rel="noopener noreferrer"></a>
            </div>
          </div>
        </div>
        <div class="talent-map-developer client-11">
          {{! template-lint-disable no-invalid-interactive }}
          <span class="dot"></span>
          <div class="logo-containter">
            <div class="logo-wrapper {{if (eq this.activeIndex 11) 'logo-wrapper-show' ''}}">
              <a href="https://crypterns.com/" target="_blank" rel="noopener noreferrer">
                <img
                  src="/assets/clients/crypterns-logo.png"
                  loading="lazy"
                  alt="Primathon Client"
                  {{on 'mouseover' (fn this.setActiveIndex 11)}}
                  {{on 'mouseleave' this.removeActiveIndexImage}}
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="red-arc"></div>
</div>