<div class='container-fluid talent-map'>
  <div class='container'>
    <h2 class='center'>Meet Our Global Clients</h2>
    <p class='section-sub center'>Been providing our Partners and Clients with what they require before they even know
      it!</p>
    <div class='holder'>
      <div class='talent-map-wrap v-show'>
        <img src='/assets/images/talent_map.svg' alt='map' />
        <a href='https://primathon.in/contact'>
          <div class='talent-map-developer client-1'>
            {{! template-lint-disable no-invalid-interactive }}
            <span class='dot'></span>
            <img
              src='https://adevait.com/img/map/martin-panevski.jpg'
              loading='lazy'
              alt='Primathon Client'
              {{on 'mouseover' (fn this.setActiveIndex 1)}}
              {{on 'mouseleave' this.removeActiveIndexImage}}
            />
            <div
              class='dev-details {{if (eq this.activeIndex 1) 'show' 'hide'}}'
              {{on 'mouseleave' this.removeActiveIndex}}
            >
              <h5>Martin Panevski</h5>
              <p>Senior PHP Engineer</p>
            </div>
          </div>
        </a>
        <a href='https://primathon.in/contact'>
          <div class='talent-map-developer client-2'>
            {{! template-lint-disable no-invalid-interactive }}
            <span class='dot'></span>
            <img
              src='https://adevait.com/img/map/marina-trajkovska.jpg'
              loading='lazy'
              alt='Primathon Client'
              {{on 'mouseover' (fn this.setActiveIndex 2)}}
              {{on 'mouseleave' this.removeActiveIndexImage}}
            />
            <div
              class='dev-details {{if (eq this.activeIndex 2) 'show' 'hide'}}'
              {{on 'mouseleave' this.removeActiveIndex}}
            >
              <h5>Marina Trajkovska</h5>
              <p>Business Analyst</p>
            </div>
          </div>
        </a>
        <a href='https://primathon.in/contact'>
          <div class='talent-map-developer client-3'>
            {{! template-lint-disable no-invalid-interactive }}
            <span class='dot'></span>
            <img
              src='https://adevait.com/img/map/fernando-raviola.jpg'
              loading='lazy'
              alt='Primathon Client'
              {{on 'mouseover' (fn this.setActiveIndex 3)}}
              {{on 'mouseleave' this.removeActiveIndexImage}}
            />
            <div
              class='dev-details {{if (eq this.activeIndex 3) 'show' 'hide'}}'
              {{on 'mouseleave' this.removeActiveIndex}}
            >
              <h5>Fernando Raviola</h5>
              <p>Senior Android Engineer</p>
            </div>
          </div>
        </a>
        <a href='https://primathon.in/contact'>
          <div class='talent-map-developer client-4'>
            {{! template-lint-disable no-invalid-interactive }}
            <span class='dot'></span>
            <img
              src='https://adevait.com/img/map/lucas-pelizza.jpg'
              loading='lazy'
              alt='Primathon Client'
              {{on 'mouseover' (fn this.setActiveIndex 4)}}
              {{on 'mouseleave' this.removeActiveIndexImage}}
            />
            <div
              class='dev-details {{if (eq this.activeIndex 4) 'show' 'hide'}}'
              {{on 'mouseleave' this.removeActiveIndex}}
            >
              <h5>Lucas Pelizza</h5>
              <p>Senior Android Engineer</p>
            </div>
          </div>
        </a>
        <a href='https://primathon.in/contact'>
          <div class='talent-map-developer client-5'>
            {{! template-lint-disable no-invalid-interactive }}
            <span class='dot'></span>
            <img
              src='https://adevait.com/img/map/herbert-oketayot.jpg'
              loading='lazy'
              alt='Primathon Client'
              {{on 'mouseover' (fn this.setActiveIndex 5)}}
              {{on 'mouseleave' this.removeActiveIndexImage}}
            />
            <div
              class='dev-details {{if (eq this.activeIndex 5) 'show' 'hide'}}'
              {{on 'mouseleave' this.removeActiveIndex}}
            >
              <h5>Herbert Bruno Oketayot</h5>
              <p>Senior JS Engineer</p>
            </div>
          </div>
        </a>
        <a href='https://primathon.in/contact'>
          <div class='talent-map-developer client-6'>
            {{! template-lint-disable no-invalid-interactive }}
            <span class='dot'></span>
            <img
              src='https://adevait.com/img/map/alexey-ermolaev.jpg'
              loading='lazy'
              alt='Primathon Client'
              {{on 'mouseover' (fn this.setActiveIndex 6)}}
              {{on 'mouseleave' this.removeActiveIndexImage}}
            />
            <div
              class='dev-details {{if (eq this.activeIndex 6) 'show' 'hide'}}'
              {{on 'mouseleave' this.removeActiveIndex}}
            >
              <h5>Alexey Ermolaev</h5>
              <p>Senior Python Engineer</p>
            </div>
          </div>
        </a>
        <a href='https://primathon.in/contact'>
          <div class='talent-map-developer client-7'>
            {{! template-lint-disable no-invalid-interactive }}
            <span class='dot'></span>
            <img
              src='https://adevait.com/img/map/tetiana-donska.jpg'
              loading='lazy'
              alt='Primathon Client'
              {{on 'mouseover' (fn this.setActiveIndex 7)}}
              {{on 'mouseleave' this.removeActiveIndexImage}}
            />
            <div
              class='dev-details {{if (eq this.activeIndex 7) 'show' 'hide'}}'
              {{on 'mouseleave' this.removeActiveIndex}}
            >
              <h5>Tetiana Donska</h5>
              <p>UI/UX Engineer</p>
            </div>
          </div>
        </a>
        <a href='https://primathon.in/contact'>
          <div class='talent-map-developer client-8'>
            {{! template-lint-disable no-invalid-interactive }}
            <span class='dot'></span>
            <img
              src='https://adevait.com/img/map/antonio-storni.jpg'
              loading='lazy'
              alt='Primathon Client'
              {{on 'mouseover' (fn this.setActiveIndex 8)}}
              {{on 'mouseleave' this.removeActiveIndexImage}}
            />
            <div
              class='dev-details {{if (eq this.activeIndex 8) 'show' 'hide'}}'
              {{on 'mouseleave' this.removeActiveIndex}}
            >
              <h5>Antonio Storni</h5>
              <p>Senior Python Engineer</p>
            </div>
          </div>
        </a>
        <a href='https://primathon.in/contact'>
          <div class='talent-map-developer client-9'>
            {{! template-lint-disable no-invalid-interactive }}
            <span class='dot'></span>
            <img
              src='https://adevait.com/img/map/ramy-moussa.jpg'
              loading='lazy'
              alt='Primathon Client'
              {{on 'mouseover' (fn this.setActiveIndex 9)}}
              {{on 'mouseleave' this.removeActiveIndexImage}}
            />
            <div
              class='dev-details {{if (eq this.activeIndex 9) 'show' 'hide'}}'
              {{on 'mouseleave' this.removeActiveIndex}}
            >
              <h5>Ramy Mohamed Moussa</h5>
              <p>Senior Software Engineer</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class='red-arc'></div>
</div>