<div id="hero-general" class="container-fluid">
  <section class="inner-hero hero-wrap">
    <div class="container">
      <div class="clearfix hero-content">
        <div class="col-md-6 col-sm-12">
          <h1 class="section-title">
            Let our Software be the milestone for your growth
          </h1>
          <h2 class="section-sub">
            We help hundreds of companies worldwide build and scale engineering teams with
            distributed talent.
          </h2>
          <LinkTo @route="contact" class="btn btn-normal">
            GET IN TOUCH
          </LinkTo>
        </div>
        <div class="video-wrapper">
          <div class="video-holder">
            <video
              poster="/assets/videos/video-poster.png"
              autoplay={{true}}
              muted={{false}}
              loop={{false}}
              controls={{this.showControls}}
              {{on 'ended' this.onEnded}}
              {{timeout-callback this.playVideo 5000}}
            >
              {{#if this.videoSource}}
                <source src={{this.videoSource}} type="video/mp4" />
              {{/if}}
            </video>
            {{#if this.showPlayButton}}
              <button type="button" class="play-button" {{on 'click' this.playVideo}}>
                <img alt="Video Acton" src="assets/svgs/play.svg" />
              </button>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>