<div class="container-fluid service-categories">
  <div class="container">
    {{#if @talent-box-two}}
      <h3>
        {{@title}}
      </h3>
    {{else}}
      <h2>
        {{@title}}
      </h2>
    {{/if}}
    <p class="section-sub center">
      {{@description}}
    </p>
    <div class="grid {{if @talent-box-two 'talent-box-two' 'talent-box'}}">
      {{#each @data as |data index|}}
        <div
          class="service-card {{if (and (eq index this.activeIndex) (not @notShowFluidDetails)) 'service-card-active'}}"
          {{on 'click' (fn this.onCardClick index)}}
        >
          <LinkTo @route={{if data.route data.route}}>
            <div class="talent-category {{if @talent-category-two 'talent-category-two'}}">
              <img src={{data.imageUrl}} loading="lazy" alt="Developers" title="Software Developers" />
              <h3>
                {{data.title}}
              </h3>
              <div class="service-subtitle">
                <p>
                  {{data.subTitle}}
                </p>
                {{#if @explore}}
                  <LinkTo @route={{if data.route data.route}}>
                    <p class="about-us-para service-underline">
                      Explore
                    </p>
                  </LinkTo>
                {{/if}}
              </div>
            </div>
          </LinkTo>
        </div>
      {{/each}}
    </div>
  </div>
</div>
<div class="service-categories-spacer"></div>
{{#unless @notShowFluidDetails}}
  <div class="container-fluid service-details" id="service-details">
    <div class="container">
      <AnimatedContainer>
        {{#animated-value this.activeCardData rules=this.rules duration=300 as |v|}}
          <div class="service-details-card">
            <h3>
              {{v.title}}
            </h3>
            <p>
              {{v.description}}
            </p>
            {{#if v.infoPoint}}
              <ul>
                {{#each v.infoPoint as |infoData|}}
                  <li>
                    •
                    <a href={{infoData.url}} class="hover:underline font-medium text-[#016aba]">{{infoData.text}}</a>
                  </li>
                {{/each}}
              </ul>
            {{/if}}
            {{#if v.notePoint}}
              <ul>
                <li>
                  <b>
                    Note:
                  </b>
                  {{v.notePoint}}
                </li>
              </ul>
            {{/if}}
            <div class="text-center service-view-detail">
              <LinkTo @route={{v.linkUrl}}>
                <button class='rounded border border-[#24B768] border-solid font-medium py-2 px-6 hover:bg-[#24B768]'>
                  View Detail
                </button>
              </LinkTo>
            </div>
          </div>
        {{/animated-value}}
      </AnimatedContainer>
    </div>
  </div>
{{/unless}}