<div class='container-fluid testimonials-section'>
  <div class='container'>
    <h2>
      {{@title}}
    </h2>
    <p class='section-sub center'>
      {{@description}}
    </p>
    <div class='slider-holder'>
      <div class='slider-content'>
        {{!-- {{#animated-value data rules=this.rules duration=30000 as |v|}} --}}
        {{#each @data as |data index|}}
          <div class='testimonial-item {{if (and this.firstRendering (eq this.activeIndex index)) "opaque"}}'>
            <blockquote>
              {{data.comment}}
            </blockquote>
            <div class='testimonial-by'>
              <div class='person-img'>
              {{#if data.fallbackProfilePicUrl}}
                  <Common::AppImage
                  @srcset={{data.fallbackProfilePicUrl data.profilePicUrl}}
                  @src={{data.profilePicUrl}}
                  loading='lazy'
                  alt={{data.name}}
                  title={{data.name}}
                  width="100%"
                  height="100%"
                />
             {{else}}
                  <Common::AppImage
                  @src={{if data.profilePicUrl data.profilePicUrl '/assets/images/user.png'}}
                  loading='lazy'
                  alt={{data.name}}
                  title={{data.name}}
                  width="100%"
                  height="100%"
                />
                {{/if}}
              </div>
              <div class='nfo'>
                <p class='name'>
                  {{data.name}}
                </p>
                <p class='title'>
                  {{data.title}}
                </p>
              </div>
            </div>
          </div>{{/each}}
        {{!-- {{/animated-value}} --}}
      </div>
      <div class='slider-action'>
        <button
          type='button'
          class='slider-action-btn'
          disabled={{this.disablePrevious}}
          {{on 'click' this.showPrevious}}
          aria-label='Left Arrow'
        >
          <svg height='20' viewBox='0 0 24.995 20' width='24.995' xmlns='http://www.w3.org/2000/svg'>
            <path
              d='m6.257 15.264h19.488a1.25 1.25 0 1 0 0-2.5h-19.488l6.625-6.625a1.25 1.25 0 1 0 -1.775-1.75l-8.75 8.75a1.25 1.25 0 0 0 0 1.75l8.75 8.75a1.25 1.25 0 0 0 1.775-1.75z'
              fill='#adb4c7'
              transform='translate(-2 -3.945)'
            ></path>
          </svg>
        </button>
        <button
          type='button'
          class='slider-action-btn'
          disabled={{this.disableNext}}
          {{on 'click' this.showNext}}
          aria-label='Right Arrow'
        >
          <svg height='20' viewBox='0 0 24.995 20' width='24.995' xmlns='http://www.w3.org/2000/svg'>
            <path
              d='m6.257 15.264h19.488a1.25 1.25 0 1 0 0-2.5h-19.488l6.625-6.625a1.25 1.25 0 1 0 -1.775-1.75l-8.75 8.75a1.25 1.25 0 0 0 0 1.75l8.75 8.75a1.25 1.25 0 0 0 1.775-1.75z'
              fill='#adb4c7'
              transform='translate(-2 -3.945)'
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>