<section class='challenge-services-container'>
  <section class='left-part'>
    <div class='challenge-portion'>
      <p class='challenge-heading'>The Challenge</p>
      <p class='challenge-description'>{{@challenges.CHALLENGES_DATA.ChallengeDescription}}
      </p>
    </div>
    <div class='brief-portion'>
      <p class='brief-heading'>{{@challenges.CHALLENGES_DATA.BriefTitle}}</p>
      <ul class='brief-points'>
        {{#each @challenges.CHALLENGES_DATA.BriefPoints as |pt|}}
          <li>{{pt}}</li>
        {{/each}}
      </ul>
    </div>
  </section>
  <section class='right-part'>
    <section class='time-location'>
      <p class='time-heading'>Time & Location</p>
      <section class='time-content'>
        <section class='months-section'>
          <Common::AppImage @src='/assets/svgs/monthsLogo.svg' alt='monthLogo' />
          <span class='no-of-months'>{{@challenges.CHALLENGES_DATA.months}}&nbsp;Months</span>
        </section>
        <section class='country-section'>
          <Common::AppImage @src='/assets/svgs/countryLogo.svg' alt='countryLogo' />
          <span class='country'>{{@challenges.CHALLENGES_DATA.countryName}}</span>
        </section>
      </section>
    </section>

    <section class='services-provided-desktop'>
      <span class='services-heading'>Service provided</span>
      <section class='all-services'>
        {{#each @challenges.SERVICES_PROVIDED_DATA.data as |item|}}
          <div class='service service-one'>
            <Common::AppImage @src={{item.serviceLogo}} alt='service image' />
            <span class='service-name'>{{item.serviceName}}</span>
          </div>
        {{/each}}
      </section>
    </section>

    <section class='services-provided-mobile'>
      <span class='services-heading-mobile'>Service provided</span>
      <section class='all-services-mobile'>
        {{#each @challenges.SERVICES_PROVIDED_DATA.data as |item|}}
          <div class='service-mobile service-one'>
            <Common::AppImage @src={{item.serviceLogo}} alt='service image' />
            <span class='service-name'>{{item.serviceName}}</span>
          </div>
        {{/each}}
      </section>
    </section>

    <section class='technology-used'>
      <span class='technologies-heading'>
        Technology Used
      </span>
      <section class='all-technologies-logos'>
        {{#each @challenges.TECHNOLOGIES_USED_DATA.imagesData as |item|}}
        <div class='logo'>
          <Common::AppImage @src={{item.techImage}} alt=' tech image' />
          <span class='technology-name'>{{item.techName}}</span>
        </div>
        {{/each}}
      </section>
    </section>
  </section>
</section>