<Header />
<div class='app-container'>
  <Services::HeroEndToEnd />
  <Homepage::PartnersSection />
  <Services::ArrowList @content={{this.arrow_list_content}} />
  <Services::DeveloperServices />
  <Services::CircularList @content={{this.circular_list_content}} @color={{'orange'}} />
  <Services::ToolsOfTrades />
  <Services::FaqList @title={{@faqTitle}} @data={{@faqData}} />
</div>