<Header />
<div class='app-container'>
  <Chatgpt::Hero-section @hero-section={{@data.chatgptData.heroSection}} />
  <Chatgpt::Introduction @intro={{@data.chatgptData.introduction}} />
  <Chatgpt::Benefits @benefits={{@data.chatgptData.benefits}} />
  <Chatgpt::Services @services={{@data.chatgptData.services}} />
  <Services::ArrowList @content={{@data.chatgptData.howToBuildAISoftware}} @style='chatGpt-arrowList' />
  <Services::CircularList @content={{@data.chatgptData.whyPartnerWithUs}} @color="orange"/>
  <Services::LinearList @content={{@data.chatgptData.whyPartnerWithUs}} />
  <Chatgpt::Chatgptuse @useCases={{@data.chatgptData.useCases}} />
  <div class='chatgpt-developmentIntegration'>
    <Chatgpt::Devlopment-integration @content={{@data.chatgptData.devlopmentIntegration}} />
    <Common::AppImage class='chatgpt-redCircle' @src='/assets/chatgpt/redCircle.png' />
    <Common::AppImage class='chatgpt-yellowCircle' @src='/assets/chatgpt/yellowCircle.png' />
  </div>
  <Chatgpt::Customchatgpt @benefitsOfCustomChatGpt={{@data.chatgptData.benefitsOfCustomChatGpt}} />
  <div class='chatgpt-gettingStarted'>
    <Chatgpt::Getting-started @gettingStarted={{@data.chatgptData.gettingStarted}} />
    <Common::AppImage class='chatgpt-redCircle' @src='/assets/chatgpt/redCircle.png' />
  </div>
  <Chatgpt::IndustrySpecificServices @specificServices={{@data.chatgptData.specificServices}} />
  <Chatgpt::Thirdparty-integration @thirdPartyIntegration={{@data.chatgptData.thirdPartyIntegration}} />
  <Services::ToolsOfTrades />
  <Services::WeAreTrusted />
  <Homepage::HireUs />
  <Services::BrowseThroughServices @activeService={{0}} />
  <Footer />
</div>