<section class='pt-20 px-6 sm:px-16 xl:px-24 mt-16' ...attributes>
  <div class='flex justify-center lg:justify-between items-end gap-x-6 max-w-[1550px] mx-auto'>
    <div class='max-w-[650px] lg:max-w-[750px] pb-20'>
      {{#if @data.gradientTitle}}
        <h1 class='text-3xl md:text-5xl font-bold text-white mb-6 text-center lg:text-left'>{{@data.title1}}
          <span
            class='bg-clip-text text-transparent bg-gradient-to-r from-yellow-400 to-[#44BCFF]'
          >{{@data.gradientTitle}}</span>
          {{@data.title2}}</h1>
      {{else}}
        <h1 class='text-3xl md:text-5xl font-bold text-white mb-6 text-center lg:text-left'>{{@data.title}}</h1>
      {{/if}}
      {{#if @data.subtitle}}
        <p class='text-xl sm:text-2xl font-semibold text-white text-center lg:text-left mb-5'>{{@data.subtitle}}</p>
      {{/if}}
      <p class='text-base text-gray-200 text-justify'>{{@data.description}}</p>
      {{#if @data.description2}}
        <p class='text-base text-gray-200 text-justify'>{{@data.description2}}</p>
      {{/if}}
      {{#if @data.listItems}}
        <ul class='white-bullet-list-ul mt-5 gap-3'>
          {{#each @data.listItems as |item|}}
            <li key={{item.id}} class='text-base text-gray-100'>
              {{item.text}}
            </li>
          {{/each}}
        </ul>
      {{/if}}
      <div class='flex flex-col sm:flex-row gap-6 items-center mt-8'>
        <a href={{@data.redirect}}><button
            class='rounded border-2 border-[#24B768] border-solid font-medium text-white py-4 px-8 bg-[#24B768]'
          >{{@data.ctaText1}}</button></a>
        {{#if @data.ctaText2}}
          <p class='text-sm text-gray-200 mb-0'>OR</p>
          <a href={{@data.redirect}}><button
              class='rounded border-2 border-[#24B768] border-solid font-medium text-white py-4 px-8 hover:bg-[#24B768] hover:border-[#24B768]'
            >{{@data.ctaText2}}</button></a>
        {{/if}}
      </div>
    </div>
    <img src={{@data.imageSrc}} class='{{@imgStyle}} hidden lg:block' alt={{@data.imageAlt}} title={{@data.imageAlt}} />
  </div>
</section>