<div class='chatgpt-benefitsSection'>
  <div class='beneitsContainer'>
    <div class='headingContainer'>
      <h2 class='heading'>{{@benefits.title}} <span>{{@benefits.subTitle}}</span></h2>
      {{#if @benefits.description}}
        <p class='description'>{{@benefits.description}}</p>
      {{/if}}
    </div>
  </div>
  <div class='cardContainer {{if @maxWidthStyle @maxWidthStyle "max-w-[1400px]"}}'>
    <div class='cards'>

      {{#each @benefits.cardData as |card|}}
        <div class='card'>
          {{#if card.imageSrc}}
            <div class='icon'>
              <img src={{card.imageSrc}} />
            </div>
          {{/if}}
          <div class='cardHeading'>
            <h3>{{card.cardTitle}}</h3>
          </div>
          <div class='cardContent'>
            <p>{{html-safe card.cardData}}</p>
          </div>
        </div>
      {{/each}}

    </div>
  </div>
</div>