<div class='chatgpt-mainConatiner'>
  <div class='headingConatiner'>
    <h2 class='heading'>{{@benefitsOfCustomChatGpt.title}} <span>{{@benefitsOfCustomChatGpt.subTitle}}</span></h2>
  </div>
  <div class='cardContainer'>
    <div class='cards'>
      {{#each this.obj as |item index|}}
        <div class='card'>
          <div class='cardHeading'>
            <div class='image accordion'>
              <img src={{item.imgSrc}} alt='' />
              <div class='imgheading'>
                <p>{{item.title}}</p>
              </div>
            </div>
            <button {{on 'click' (fn this.btnClick index)}}>

              {{#if item.active}}
                <div class='accordianMinus'><span>-</span></div>
              {{else}}
                <div class='accordianPlus'><span>+</span></div>
              {{/if}}
            </button>

          </div>
          <div class={{if item.active 'cardContent moveDown' 'cardContent moveUp'}}>

            <p class='cardContent'>
              {{#each item.discription as |line|}}
                {{line}}
                <br /><br />
              {{/each}}
            </p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>