<div class='chatgpt-getStartedContainer'>
  <div class='chatgpt-getStartedHeadingContainer'>
    <h2>
      {{@gettingStarted.title}}
      <span>{{@gettingStarted.subTitle}}</span>
    </h2>
  </div>
  {{#if @gettingStarted.description}}
    <p class="max-w-[1050px] mx-auto">{{@gettingStarted.description}}</p>
  {{/if}}
  <div class='chatgpt-getStartedCardContainer'>
    {{#each @gettingStarted.cardData as |card|}}
    <div class='chatgpt-getStartedCard'>
      <h2>{{card.cardTitle}}</h2>
      <p>
        {{card.content}}
      </p>
    </div>
    {{/each}}
  </div>
</div>