<div class='industrySpecificServices'>
  <div class='industrySpecificServicesContainer'>
    <div class='industrySpecificHeadingContainer'>
      <h2 class='heading'>
        {{@specificServices.title}}
        <span>{{@specificServices.subTitle}}</span>
      </h2>
      <p class='description'>
        {{@specificServices.description}}
      </p>
    </div>
    <div class='specificServiceListCarousal'>
      <ul class='specificServiceList' style='transform:translateX({{this.scrollValue}}) ;'>
        {{#each @specificServices.items as |item|}}
          <li class='specificServiceListItem' style='width:{{this.width}}px'>
            <h6 class='lineHeading'>{{item.heading}}</h6>
            <div class='industrySpecificLine'>
              <div class='industrySpecificServices-previous-dotted-line'></div>
              <div class='industrySpecificServices-dot'>
                <div class='industrySpecificServices-inner-dot'></div>
              </div>
              <div class='industrySpecificServices-dotted-line'></div>
            </div>
            <p class='lineDescription'>
              {{item.content}}
            </p>
          </li>
        {{/each}}
      </ul>
       <div class="mask" style="width:{{this.maskWidth}}px"></div>

      {{#unless (eq this.active this.length)}}
        <button type='button' {{on 'click' this.showNext}} class='industrySpecificNextButton'>
          <Common::AppImage @src='/assets/chatgpt/next-white.svg' alt='customer obsession' />
        </button>
      {{/unless}}
      {{#unless (eq this.active 0)}}
        <button type='button' {{on 'click' this.showPrevious}} class='industrySpecificPreviousButton'>
          <Common::AppImage @src='/assets/chatgpt/previous-white.svg' alt='customer obsession' />
        </button>
      {{/unless}}
    </div>

  </div>
</div>