<Header />
<div class="app-container">
  <Services::HeroEndToEnd />
  <Services::CircularList @content={{this.circular_list_content}} @color={{'orange'}} />
  <Services::LinearList @content={{this.linear_list_content}} />
  <Services::ArrowList @content={{this.arrow_list_content}} />
  <Services::end-to-end-services />
  <Services::ToolsOfTrades />
  <Services::WeAreTrusted />
  <Homepage::HireUs />
  <Services::BrowseThroughServices
    @title={{this.serviceTitle}}
    @description={{this.serviceDescription}}
    @data={{this.serviceData}}
    @talent-box-two={{true}}
    @explore={{true}}
    @talent-category-two={{true}}
    @notShowFluidDetails={{true}}
  />
  <Homepage::Footer />
</div>