<section class='px-6 mt-12 mb-12 sm:px-16 md:mt-44 max-w-[1400px] mx-auto'>
  <div>
    <h2 class='text-4xl font-medium'>{{@data.title}}</h2>
    <h3 class='text-2xl font-medium mt-4 mb-6'>{{@data.subTitle}}</h3>
    <p class='mb-20 max-w-[1040px] text-xl'>{{@data.description}}</p>
  </div>
  <div class='grid grid-cols-2 gap-x-20 xl:gap-x-28 gap-y-12'>
    {{#each @data.cardData as |case|}}
      <div>
        <div class='flex gap-3'>
          <div>
            <img src={{case.imageSrc}} alt={{case.cardTitle}} title={{case.cardTitle}} />
          </div>
          <div class='w-11/12'>
            <h3 class='font font-medium text-xl mb-1'>{{case.cardTitle}}</h3>
            <p class='text-lg'>{{html-safe case.cardContent}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</section>