<div class='sticky top-0 z-10'>
  <Header />
</div>
<Services::HeroSectionNew @data={{@heroSection}} @imgStyle={{@heroSectionImgStyle}} class={{@heroSectionClass}} />
<Homepage::PartnersSection />
<Chatgpt::Chatgptuse @useCases={{@services}} />
{{#if @ctaSection1}}
  <Services::CallUs @data={{@ctaSection1}} />
{{/if}}
{{#if @bulletsList2}}
  <Services::BulletsList @data={{@bulletsList2}} @imgStyle={{@bulletsListImgStyle2}} />
{{/if}}
{{#if @isDiscoverAiSolutions}}
  <Services::DiscoverAiSolutions />
{{/if}}
{{#if @benefits}}
  <Chatgpt::Benefits @benefits={{@benefits}} />
{{/if}}
{{#if @useCases}}
  <Chatgpt::Chatgptuse @useCases={{@useCases}} />
{{/if}}
{{#if @journey}}
  <Services::ArrowList @content={{@journey}} @style='chatGpt-arrowList' />
{{/if}}
{{#if @bulletsList3}}
  <Services::BulletsList @data={{@bulletsList3}} @imgStyle={{@bulletsListImgStyle3}} />
{{/if}}
{{#if @data.data.ctaSection2}}
  <Services::CallUs @data={{@data.data.ctaSection2}} />
{{/if}}
<Services::BulletsList @data={{@bulletsList}} @imgStyle={{@bulletsListImgStyle}} />
{{#if @whyChoose}}
  <Services::WhyHireSection @data={{@whyChoose}} />
{{/if}}
{{#if @services2}}
  <Chatgpt::Chatgptuse @useCases={{@services2}} />
{{/if}}
{{#if @whyHire}}
  <Services::WhyHireSection @data={{@whyHire}} />
{{/if}}
{{#if @applications}}
  <Services::Benefits @data={{@applications}} />
{{/if}}
{{#if @features}}
  <Chatgpt::Getting-started @gettingStarted={{@features}} />
{{/if}}
{{#if @caseStudies}}
  <CaseStudies::Post @data={{@caseStudies}} />
{{/if}}
{{#if @features2}}
  <Chatgpt::Getting-started @gettingStarted={{@features2}} />
{{/if}}
<Homepage::Testimonial
  @title={{@data.testinomialData.title}}
  @description={{@data.testinomialData.description}}
  @data={{@data.testinomialData.data}}
/>
{{#if @benefits2}}
  <Chatgpt::Benefits @benefits={{@benefits2}} />
{{/if}}
{{#if @faqs}}
  <Services::FaqList @title={{@faqs.title}} @data={{@faqs.cardData}} />
{{/if}}
<Footer />