<div class='aiDevelopment-heroSectionContainer' ...attributes>
  <h1>{{@heroSection.title}}</h1>
  <p>{{@heroSection.subTitle}}</p>
  {{#if @heroSection.buttonData}}
    <a href={{@heroSection.redirect}}>
      <button {{on 'click' (if @data.gtagEventName (fired-gtag-event @data.gtagEventName) (fn (noop)))}}>
        {{@heroSection.buttonData}}
      </button>
    </a>
  {{/if}}
</div>