<div class="aiDevelopment-introductionContainer">
    <div class="contentContainer">
        <h1>{{@intro.heading}} </h1>
        <p>
            {{#each @intro.description as |item|}}
            {{item}}
            <br><br>
            {{/each}}
        </p>
        <a href={{@intro.buttonLink}}><button>{{@intro.buttonText}}</button></a>
    </div>
    <img src={{@intro.imageSrc}}>
</div>