<div class='ai-services-section-Container'>
  <div class='headingContainer'>
    <h2 class='heading'>{{@services.title}}</h2>
  </div>
  
  <div class='cardContainer'>
    <div class='cards'>
      {{#each @services.cardData as |item|}}
        <div class='card'>
          <div class='backgroundimgContainer' style='background-image:url({{item.bgImg}})'>
            <h3 class='backgroundHeading'>{{item.heading}}</h3>
          </div>
          <div class='contentContainer'>
            <h2>{{item.subHeading}}</h2>
            <ul class='ulContainer'>
              {{#each item.listItem as |liData|}}
                <li>{{liData.data}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>