{{#if this.submitted}}
  <div class="form-response">
    <h2>
      Thanks for reaching out!
    </h2>
    <p>
      Usually our representatives reply within 48 hours. For immediate assistance, please call our sales line or email
      our customer support.
    </p>
  </div>
{{else}}
  <div class="contact-form">
    <div class="form-name">
      <label for="firstName" class="form-label">
        First name
        <span class="required">
          *
        </span>
      </label>
      <Input
        name="firstName"
        @type="text"
        @value={{this.userQuestion.firstName}}
        class="form-input"
        {{on 'focus' (fn this.resetErrorMessage 'firstName')}}
      />
      {{#if this.validation.firstName}}
        <label class="errMessage">
          {{this.validation.firstName}}
        </label>
      {{/if}}
    </div>
    <div class="form-name">
      <label for="lastName" class="form-label">
        Last name
        <span class="required">
          *
        </span>
      </label>
      <Input
        name="lastName"
        @type="text"
        @value={{this.userQuestion.lastName}}
        class="form-input"
        {{on 'focus' (fn this.resetErrorMessage 'lastName')}}
      />
      {{#if this.validation.lastName}}
        <label class="errMessage">
          {{this.validation.lastName}}
        </label>
      {{/if}}
    </div>
    <div class="form-field">
      <label for="email" class="form-label">
        Email
        <span class="required">
          *
        </span>
      </label>
      <Input
        name="email"
        @type="email"
        @value={{this.userQuestion.email}}
        class="form-input"
        {{on 'focus' (fn this.resetErrorMessage 'email')}}
      />
      {{#if this.validation.email}}
        <label class="errMessage">
          {{this.validation.email}}
        </label>
      {{/if}}
    </div>
    <div class="form-field">
      <label for="phone" class="form-label">
        Country Code
      </label>
      <Input
        name="countryCode"
        @type="text"
        @value={{this.userQuestion.countryCode}}
        class="form-input form-input-number"
        {{on 'focus' (fn this.resetErrorMessage 'countryCode')}}
      />
      {{#if this.validation.countryCode}}
        <label class="errMessage">
          {{this.validation.countryCode}}
        </label>
      {{/if}}
    </div>
    <div class="form-field">
      <label for="phone" class="form-label">
        Phone number
      </label>
      <Input
        name="phone"
        @type="number"
        @value={{this.userQuestion.phone}}
        class="form-input form-input-number"
        {{on 'focus' (fn this.resetErrorMessage 'phone')}}
      />
      {{#if this.validation.phone}}
        <label class="errMessage">
          {{this.validation.phone}}
        </label>
      {{/if}}
    </div>
    <div class="form-field">
      <label for="phone" class="form-label">
        Company Name
        <span class="required">
          *
        </span>
      </label>
      <Input
        name="companyName"
        @type="text"
        @value={{this.userQuestion.companyName}}
        class="form-input form-input-number"
        {{on 'focus' (fn this.resetErrorMessage 'companyName')}}
      />
      {{#if this.validation.companyName}}
        <label class="errMessage">
          {{this.validation.companyName}}
        </label>
      {{/if}}
    </div>
    <div class="form-field">
      <label for="message" class="form-label">
        Message
        <span class="required">
          *
        </span>
      </label>
      <Textarea
        name="message"
        @type="text"
        @value={{this.userQuestion.message}}
        rows={{5}}
        class="form-input text-area"
        {{on 'focus' (fn this.resetErrorMessage 'message')}}
      />
      {{#if this.validation.message}}
        <label class="errMessage">
          {{this.validation.message}}
        </label>
      {{/if}}
    </div>
    {{#if this.apiError}}
      <span class="errMessage">
        Some error occurred. please try again later.
      </span>
    {{/if}}
    <button type="submit" class="submit-btn" disabled={{this.apiInProgress}} {{on 'click' this.sendMessage}}>
      SEND MESSAGE
    </button>
  </div>
{{/if}}