{{#if this.submitted}}
  <div class="form-response">
    <h2>
      Thanks for reaching out!
    </h2>
    <p>
      Usually our representatives reply within 48 hours. For immediate assistance, please call our sales line or email
      our customer support.
    </p>
  </div>
{{else}}
  <div class="contact-form">
    <div class="form-name">
      <label for="firstName" class="form-label">
        <span class="form-label">
          First name
          <span class="required">
            *
          </span>
        </span>
        <Input
          name="firstName"
          @type="text"
          @value={{this.userQuestion.firstName}}
          class="form-input"
          placeholder="First name"
          {{on 'focus' (fn this.resetErrorMessage 'firstName')}}
        />
      </label>
      {{#if this.validation.firstName}}
        <span class="errMessage">
          {{this.validation.firstName}}
        </span>
      {{/if}}
    </div>
    <div class="form-name">
      <label for="lastName" class="form-label">
        <span class="form-label">
          Last name
          <span class="required">
            *
          </span>
        </span>
        <Input
          name="lastName"
          @type="text"
          @value={{this.userQuestion.lastName}}
          class="form-input"
          placeholder="Last name"
          {{on 'focus' (fn this.resetErrorMessage 'lastName')}}
        />
      </label>
      {{#if this.validation.lastName}}
        <span class="errMessage">
          {{this.validation.lastName}}
        </span>
      {{/if}}
    </div>
    <div class="form-field">
      <label for="email" class="form-label">
        <span class="form-label">
          Email
          <span class="required">
            *
          </span>
        </span>
        <Input
          name="email"
          @type="email"
          @value={{this.userQuestion.email}}
          class="form-input"
          placeholder="Email"
          {{on 'focus' (fn this.resetErrorMessage 'email')}}
        />
      </label>
      {{#if this.validation.email}}
        <span class="errMessage">
          {{this.validation.email}}
        </span>
      {{/if}}
    </div>
    <div class="form-field">
      <label for="phone" class="form-label">
        <span class="form-label">
          Country code
          <span class="required">
            *
          </span>
        </span>
        <Input
          name="countryCode"
          @type="text"
          @value={{this.userQuestion.countryCode}}
          class="form-input form-input-number"
          placeholder="Country Code"
          {{on 'focus' (fn this.resetErrorMessage 'countryCode')}}
        />
      </label>
      {{#if this.validation.countryCode}}
        <span class="errMessage">
          {{this.validation.countryCode}}
        </span>
      {{/if}}
    </div>
    <div class="form-field">
      <label for="phone" class="form-label">
        <span class="form-label">
          Phone number
          <span class="required">
            *
          </span>
        </span>
        <Input
          name="phone"
          @type="number"
          @value={{this.userQuestion.phone}}
          class="form-input form-input-number"
          placeholder="Phone number"
          {{on 'focus' (fn this.resetErrorMessage 'phone')}}
        />
      </label>
      {{#if this.validation.phone}}
        <span class="errMessage">
          {{this.validation.phone}}
        </span>
      {{/if}}
    </div>
    <div class="form-field">
      <label for="phone" class="form-label">
        <span class="form-label">
          Company name
          <span class="required">
            *
          </span>
        </span>
        <Input
          name="companyName"
          @type="text"
          @value={{this.userQuestion.companyName}}
          class="form-input form-input-number"
          placeholder="Company Name"
          {{on 'focus' (fn this.resetErrorMessage 'companyName')}}
        />
      </label>
      {{#if this.validation.companyName}}
        <span class="errMessage">
          {{this.validation.companyName}}
        </span>
      {{/if}}
    </div>
    <div class="form-field">
      <label for="message" class="form-label">
        <span class="form-label">
          Message
          <span class="required">
            *
          </span>
        </span>
        <Textarea
          name="message"
          @value={{this.userQuestion.message}}
          rows={{5}}
          class="form-input text-area"
          placeholder="Type your message"
          {{on 'focus' (fn this.resetErrorMessage 'message')}}
        />
      </label>
      {{#if this.validation.message}}
        <span class="errMessage">
          {{this.validation.message}}
        </span>
      {{/if}}
    </div>
    {{#if this.apiError}}
      <span class="errMessage">
        Some error occurred. please try again later.
      </span>
    {{/if}}
    <button type="submit" class="submit-btn" disabled={{this.apiInProgress}} {{on 'click' this.sendMessage}}>
      SEND MESSAGE
    </button>
  </div>
{{/if}}