{{#if this.submitted}}
  <div class='form-response fixed top-2 right-0 bg-[#24b768] max-w-[700px] z-10 rounded' {{did-insert this.closeToast}}>
    <h2>
      Thanks for reaching out!
    </h2>
    <p>
      Usually our representatives reply within 48 hours. For immediate assistance, please call our sales line or email
      our customer support.
    </p>
  </div>
{{/if}}

<div class='contact-form' ...attributes>
  <div class='p-5 bg-[#F6F6F6] rounded'>
    <p class='text-[#333333] text-center text-lg mb-0'>Request a Call Back</p>
  </div>
  <div class='p-5'>
    <div class='form-field {{if this.validation.name "mb-[21px]" "mb-[18px]"}}'>
      <label for='Name' class='form-label'>
        <span class='form-label'>
          Name
          <span class='required'>
            *
          </span>
        </span>
        <Input
          name='name'
          @type='text'
          @value={{this.userQuestion.name}}
          class='form-input'
          placeholder='Name'
          {{on 'focus' (fn this.resetErrorMessage 'name')}}
        />
      </label>
      {{#if this.validation.name}}
        <span class='errMessage absolute'>
          {{this.validation.name}}
        </span>
      {{/if}}
    </div>
    <div class='form-field {{if this.validation.email "mb-[21px]" "mb-[18px]"}}'>
      <label for='email' class='form-label'>
        <span class='form-label'>
          Email Id
          <span class='required'>
            *
          </span>
        </span>
        <Input
          name='email'
          @type='email'
          @value={{this.userQuestion.email}}
          class='form-input'
          placeholder='Email Id'
          {{on 'focus' (fn this.resetErrorMessage 'email')}}
        />
      </label>
      {{#if this.validation.email}}
        <span class='errMessage absolute'>
          {{this.validation.email}}
        </span>
      {{/if}}
    </div>
    <div class='form-field {{if this.validation.phone "mb-[21px]" "mb-[18px]"}}'>
      <label for='phone' class='form-label'>
        <span class='form-label'>
          Phone number
          <span class='required'>
            *
          </span>
        </span>
        <div class='form-input-number-container'>
          <select
            defaultValue='+91'
            class='form-field-input-number form-input-number form-input-country-code w-4/12 sm:w-2/12 lg:w-3/12'
            {{on 'change' this.onChange}}
          >
            <option value='+91'>+91</option>
            <option value='+1'>+1</option>
            <option value='+44'>+44</option>
            <option value='+61'>+61</option>
            <option value='+62'>+62</option>
            <option value='+966'>+966</option>
          </select>
          <Input
            name='phone'
            @type='number'
            @value={{this.userQuestion.phone}}
            class='form-input-number form-field-input-number form-input-number form-input-phone-number'
            placeholder='Phone number'
            {{on 'focus' (fn this.resetErrorMessage 'phone')}}
          />
        </div>
      </label>
      {{#if this.validation.phone}}
        <span class='errMessage absolute'>
          {{this.validation.phone}}
        </span>
      {{/if}}
    </div>
    <div class='form-field {{if this.validation.companyName "mb-[21px]" "mb-[18px]"}}'>
      <label for='phone' class='form-label'>
        <span class='form-label'>
          Company name
          <span class='required'>
            *
          </span>
        </span>
        <Input
          name='companyName'
          @type='text'
          @value={{this.userQuestion.companyName}}
          class='form-input form-input-number'
          placeholder='Company Name'
          {{on 'focus' (fn this.resetErrorMessage 'companyName')}}
        />
      </label>
      {{#if this.validation.companyName}}
        <span class='errMessage absolute'>
          {{this.validation.companyName}}
        </span>
      {{/if}}
    </div>
    {{#if this.apiError}}
      <span class='errMessage'>
        Some error occurred. please try again later.
      </span>
    {{/if}}
    <div class='flex justify-center'>
      <button type='submit' class='submit-btn' disabled={{this.apiInProgress}} {{on 'click' this.sendMessage}}>
        REQUEST A CALL BACK
      </button>
    </div>
  </div>
</div>