<Header />
<div class='app-container'>
  <Homepage::HeroSection />
  <Homepage::PartnersSection />
  {{!-- <Homepage::Services
    @title={{this.serviceTitle}}
    @description={{this.serviceDescription}}
    @data={{this.serviceData}}
  /> --}}
  <Homepage::ServicesSlider
    @title={{this.serviceTitle}}
    @description={{this.serviceDescription}}
    @data={{this.serviceData}}
  />
  <Homepage::CoreValue
    @title={{this.coreValueTitle}}
    @description={{this.coreValueDescription}}
    @data={{this.coreValueData}}
  />
  <Homepage::Tools />
  <Homepage::ClientsSection />
  <Homepage::Testimonial
    @title={{this.testimonialTitle}}
    @description={{this.testimonialDescription}}
    @data={{this.testimonialData}}
  />
  <Homepage::Blog @title={{this.blogTitle}} @description={{this.blogDescription}} @data={{this.blogData}} />
  <Homepage::HireUs @gtagEventName={{HIRE_REACT_JS_BUTTON_CLICK}} />
  <Homepage::PrimathonInNews />
  <Footer />
</div>